@model Auctioneer.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Account.cshtml";
}

@using (Html.BeginForm("SendPasswordReset", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>@ViewBag.Title</h2>
  </div>

  <div class="panel-body">
    @Html.AntiForgeryToken()

      <div class="col-xs-12">
        <div class="form-group">
          @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
        </div>
      </div>
  </div>

  <div class="panel-footer">
    <input type="submit" class="btn btn-auctioneer" value="Send Email" />
  </div>
</div>
}

